@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FBCFE8;
    font-family: 'Comfortaa', cursive;
    color: #F472B6;
}

h1{
    color: #F472B6;
}

.container{
    padding: auto;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 2rem;
}

input{
    margin: 2rem;
    padding: 0.5rem;
    border: none;
    font-size: large;
    font-weight: bolder;
    color: #F472B6;
}

button{
    width: 18vw;
    padding: auto;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    padding: 0.5rem;
    border-radius: 0.2rem;
    transition: 0.5s;
    background-color: 
    #F472B6
    ;
    border: none;
    color: white;
    border-color: white;

}

button:hover{
    font-size: larger;
    border: solid;
    border-color:#F472B6 ;
    color: #F472B6;
    background-color: white;
}

#output-box{
    padding: 1rem;
    margin: 1rem;
    font-size: larger;
    font-weight: bolder;
}

.link 
{
    text-decoration: none;
    padding: 0.4rem 0.4rem;
    transition: 0.5s;
}

.list-non-bullet
{
    list-style: none;
}

.list-item-inline
{
    display: inline;
    padding: 0.5rem, 1rem;
}

.footer
{
    width: 100%;
    padding: auto;
    margin: auto;
    text-align: center;
    background-color:
    #F472B6 ;
    /* color: ; */
    border-bottom-right-radius: 1rem;
    position: fixed;
    bottom:0 ;
    padding: 2rem;

}

.footer .link
{
 color:white;
 font-weight: bold;
}

.footer .ul 
{
    padding-inline-start: 0;
}

