@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*{

    box-sizing: border-box;
}

body{
    background-color: #C026D3;
    font-family: 'Comfortaa', cursive;
    color: white;
}

.container{
    padding: auto;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

input{
    margin: 2rem;
    padding: 0.5rem;
    border: none;
}

button{
    width: 18vw;
    padding: auto;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    padding: 0.5rem;
    border-radius: 0.2rem;
    transition: 0.5s;
    background-color: 
    #86198F
    ;
    border: none;
    color: white;
    border-color: white;

}

button:hover{
    font-size: larger;
}

#output-box{
    padding: 1rem;
    margin: 1rem;
    font-size: larger;
    font-weight: bolder;
}